.comment {
  background-color: white;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  text-align: justify;
  hyphens: auto;
  text-justify: inter-word;
}

.comment--full-row {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.comment__grid {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr;
}

/* Comment buttons */
.comment__btn {
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
}

.comment__btn__icon {
  margin-right: 5px;
  width: 12px;
}

.comment__btn--delete {
  color: var(--pink-400);
}

/* Comment info */
.comment__info {
  display: flex;
  align-items: center;
  width: 100%;
  grid-column: 2 / 3;
}

.comment__info__avatar {
  width: 25px;
  height: 25px;
}

.comment__info__username {
  font-weight: 500;
  margin-left: 15px;
}

.comment__info__current-user-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--purple-600);
  font-size: 0.8rem;
  width: 33px;
  height: 18px;
  border-radius: 2px;
  margin-left: 5px;
}

.comment__info__created-at {
  color: var(--grey-500);
  margin-left: 15px;
}

.comment__current-user-btns {
  margin-left: auto;
}

/* Comment content/editing area */
.comment__content,
.comment__editing-form {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.comment__content__replying-to {
  color: var(--purple-600);
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
}

.editing-form__update-btn {
  background-color: var(--purple-600);
  color: white;
  margin-left: auto;
  display: block;
  margin-top: 10px;
}
