.comment--new__avatar {
  width: 35px;
  height: 35px;
}

.comment--new__textarea {
  width: 35px;
  height: 80px;
  margin: 0 10px;
}

.comment--new__textarea::placeholder {
  color: var(--grey-500);
}

.btn--send {
  width: 100px;
  height: 35px;
  background-color: var(--purple-600);
  font-size: 0.8rem;
  color: white;
}

.btn--send:hover {
  background-color: var(--purple-800);
}
