.comment__grid--new {
  display: grid;
  grid-template-columns: 35px 1fr 100px;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.comment--new__avatar {
  width: 35px;
  height: 35px;
}

.comment--new__textarea {
  width: 35px;
  height: 80px;
}

.comment--new__textarea::placeholder {
  color: var(--grey-500);
}

.comment--new__send-btn {
  width: 100px;
  height: 35px;
  background-color: var(--purple-600);
  font-size: 0.8rem;
  color: white;
}

.comment--new__send-btn:hover {
  background-color: var(--purple-800);
}
