* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

:root {
  --purple-800: hsl(239, 37%, 43%);
  --purple-600: hsl(238, 40%, 52%);
  --pink-400: hsl(358, 79%, 66%);
  --purple-200: hsl(239, 57%, 85%);
  --pink-200: hsl(357, 100%, 86%);
  --grey-800: hsl(212, 24%, 26%);
  --grey-500: hsl(211, 10%, 45%);
  --grey-100: hsl(223, 19%, 93%);
  --grey-50: hsl(228, 33%, 97%);
}

body {
  background-color: var(--grey-50);
  width: 100vw;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.comment-section {
  width: 750px;
  margin: 50px 0;
}

.comment-chain {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto auto;
}

.replyingTo {
  color: var(--purple-600);
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
}

.comment-base {
  display: flex;
  background-color: white;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.comment-wrapper {
  width: 100%;
}

.comment {
  /* \/ \/ doesn't work in all browsers */
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}

.vote-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.gray-box-centered {
  background-color: var(--grey-50);
  width: 28px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upvote-btn {
  border-radius: 5px 5px 0 0;
}

.downvote-btn {
  border-radius: 0 0 5px 5px;
}

.purple-filter {
  filter: brightness(0) saturate(100%) invert(34%) sepia(10%) saturate(3208%)
    hue-rotate(200deg) brightness(105%) contrast(96%);
}

.gray-hover:hover {
  background-color: var(--grey-100);
}

.disabled-btn {
  cursor: default;
}

.comment-top-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
}

.avatar {
  width: 25px;
  height: 25px;
}

.delete-btn {
  color: var(--pink-400);
}

.edit-btn,
.reply-btn {
  color: var(--purple-600);
}

.username {
  font-weight: 500;
  margin-left: 15px;
}

.current-user-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--purple-600);
  font-size: 0.8rem;
  width: 33px;
  height: 18px;
  border-radius: 2px;
  margin-left: 5px;
}

.created-at {
  color: var(--grey-500);
  margin-left: 15px;
}

.current-user-btns {
  margin-left: auto;
}

.btn-base {
  background-color: white;
  margin-left: auto;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 5px;
}

.btn-base-icon {
  margin-right: 5px;
  width: 12px;
}

.reply-container {
  display: grid;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.line {
  width: 1px;
  background-color: var(--grey-100);
  margin: 10px auto;
  margin-bottom: 20px;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.new-comment {
  height: 120px;
  margin: 0;
}

.avatar {
  width: 35px;
  height: 35px;
}

.new-comment-input {
  width: 100%;
  height: 80px;
  margin: 0 10px;
  border: 1px solid var(--grey-100);
  border-radius: 8px;
  padding: 5px;
}

.new-comment-input::placeholder {
  color: var(--grey-500);
}

.send-btn {
  width: 100px;
  height: 35px;
  background-color: var(--purple-600);
  font-size: 0.8rem;
  color: white;
}

.send-btn:hover {
  background-color: var(--purple-800);
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 350px;
  border: none;
  border-radius: 10px;
  padding: 30px;

  h1 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  p {
    color: var(--grey-500);
    margin-bottom: 20px;
  }

  section {
    display: flex;
    justify-content: space-between;

    .cancel-btn {
      color: white;
      background-color: var(--grey-500);
      margin-right: 20px;
      flex-basis: 50%;
    }

    .delete-btn-modal {
      color: white;
      background-color: var(--pink-400);
      flex-basis: 50%;
    }
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 50%);
}
