* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

:root {
  --purple-800: hsl(239, 37%, 43%);
  --purple-600: hsl(238, 40%, 52%);
  --pink-400: hsl(358, 79%, 66%);
  --purple-200: hsl(239, 57%, 85%);
  --pink-200: hsl(357, 100%, 86%);
  --grey-800: hsl(212, 24%, 26%);
  --grey-500: hsl(211, 10%, 45%);
  --grey-100: hsl(223, 19%, 93%);
  --grey-50: hsl(228, 33%, 97%);
}

body {
  background-color: var(--grey-50);
  width: 100vw;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
}

.purple-filter {
  filter: brightness(0) saturate(100%) invert(34%) sepia(10%) saturate(3208%)
    hue-rotate(200deg) brightness(105%) contrast(96%);
}

.gray-hover:hover {
  background-color: var(--grey-100);
}

.btn {
  font-weight: 500;
  font-size: 0.9rem;
}

.btn--disabled {
  cursor: default;
}

.purple-text {
  color: var(--purple-600);
}

.red-text {
  color: var(--pink-400);
}

.white-bg {
  background-color: white;
}

.textarea {
  width: 100%;
  border: 1px solid var(--grey-100);
  border-radius: 8px;
  padding: 8px 15px;
  resize: none;
}
