.score-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.score-container__gray-box--centered {
  background-color: var(--grey-50);
  min-width: 28px;
  max-width: 100px;
  min-height: 22px;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container__score {
  width: 100%;
  text-align: center;
  word-break: break-all;
}

.score-container__upvote-btn {
  border-radius: 5px 5px 0 0;
}

.score-container__downvote-btn {
  border-radius: 0 0 5px 5px;
}
